body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:1221px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:525px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15979 {
  position:absolute;
  left:1054px;
  top:195px;
  width:188px;
  height:525px;
}
#u15980 {
  position:absolute;
  left:2px;
  top:254px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(41, 128, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15981 {
  position:absolute;
  left:1054px;
  top:195px;
  width:187px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15982 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u15983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15983 {
  position:absolute;
  left:204px;
  top:195px;
  width:850px;
  height:40px;
}
#u15984 {
  position:absolute;
  left:2px;
  top:12px;
  width:846px;
  word-wrap:break-word;
}
#u15985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15985 {
  position:absolute;
  left:204px;
  top:205px;
  width:52px;
  height:20px;
}
#u15986 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u15987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:485px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15987 {
  position:absolute;
  left:21px;
  top:235px;
  width:183px;
  height:485px;
}
#u15988 {
  position:absolute;
  left:2px;
  top:234px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15989 {
  position:absolute;
  left:21px;
  top:195px;
  width:183px;
  height:40px;
}
#u15990 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15991 {
  position:absolute;
  left:95px;
  top:205px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15992 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:1px;
}
#u15993 {
  position:absolute;
  left:21px;
  top:719px;
  width:183px;
  height:1px;
}
#u15994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15995 {
  position:absolute;
  left:165px;
  top:257px;
  width:36px;
  height:21px;
}
#u15995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15995_input {
  font-family:'微软雅黑';
}
#u15996 {
  position:absolute;
  left:33px;
  top:253px;
  width:127px;
  height:25px;
}
#u15996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15996_input {
  font-family:'微软雅黑';
}
#u15997 {
  position:absolute;
  left:204px;
  top:235px;
  width:855px;
  height:156px;
}
#u15998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u15998 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  text-align:center;
}
#u15999 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u16000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u16000 {
  position:absolute;
  left:78px;
  top:0px;
  width:174px;
  height:31px;
  text-align:center;
}
#u16001 {
  position:absolute;
  left:2px;
  top:8px;
  width:170px;
  word-wrap:break-word;
}
#u16002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:31px;
}
#u16002 {
  position:absolute;
  left:252px;
  top:0px;
  width:258px;
  height:31px;
  text-align:center;
}
#u16003 {
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u16004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
}
#u16004 {
  position:absolute;
  left:510px;
  top:0px;
  width:170px;
  height:31px;
  text-align:center;
}
#u16005 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u16006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
}
#u16006 {
  position:absolute;
  left:680px;
  top:0px;
  width:170px;
  height:31px;
  text-align:center;
}
#u16007 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u16008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u16008 {
  position:absolute;
  left:0px;
  top:31px;
  width:78px;
  height:30px;
  text-align:center;
}
#u16009 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u16010 {
  position:absolute;
  left:78px;
  top:31px;
  width:174px;
  height:30px;
  text-align:center;
}
#u16011 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:30px;
}
#u16012 {
  position:absolute;
  left:252px;
  top:31px;
  width:258px;
  height:30px;
  text-align:center;
}
#u16013 {
  position:absolute;
  left:2px;
  top:7px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u16014 {
  position:absolute;
  left:510px;
  top:31px;
  width:170px;
  height:30px;
  text-align:center;
}
#u16015 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u16016 {
  position:absolute;
  left:680px;
  top:31px;
  width:170px;
  height:30px;
  text-align:center;
}
#u16017 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u16018 {
  position:absolute;
  left:0px;
  top:61px;
  width:78px;
  height:30px;
  text-align:center;
}
#u16019 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u16020 {
  position:absolute;
  left:78px;
  top:61px;
  width:174px;
  height:30px;
  text-align:center;
}
#u16021 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:30px;
}
#u16022 {
  position:absolute;
  left:252px;
  top:61px;
  width:258px;
  height:30px;
  text-align:center;
}
#u16023 {
  position:absolute;
  left:2px;
  top:7px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u16024 {
  position:absolute;
  left:510px;
  top:61px;
  width:170px;
  height:30px;
  text-align:center;
}
#u16025 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u16026 {
  position:absolute;
  left:680px;
  top:61px;
  width:170px;
  height:30px;
  text-align:center;
}
#u16027 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u16028 {
  position:absolute;
  left:0px;
  top:91px;
  width:78px;
  height:30px;
  text-align:center;
}
#u16029 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u16030 {
  position:absolute;
  left:78px;
  top:91px;
  width:174px;
  height:30px;
  text-align:center;
}
#u16031 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:30px;
}
#u16032 {
  position:absolute;
  left:252px;
  top:91px;
  width:258px;
  height:30px;
  text-align:center;
}
#u16033 {
  position:absolute;
  left:2px;
  top:7px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u16034 {
  position:absolute;
  left:510px;
  top:91px;
  width:170px;
  height:30px;
  text-align:center;
}
#u16035 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u16036 {
  position:absolute;
  left:680px;
  top:91px;
  width:170px;
  height:30px;
  text-align:center;
}
#u16037 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u16038 {
  position:absolute;
  left:0px;
  top:121px;
  width:78px;
  height:30px;
  text-align:center;
}
#u16039 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u16040 {
  position:absolute;
  left:78px;
  top:121px;
  width:174px;
  height:30px;
  text-align:center;
}
#u16041 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:30px;
}
#u16042 {
  position:absolute;
  left:252px;
  top:121px;
  width:258px;
  height:30px;
  text-align:center;
}
#u16043 {
  position:absolute;
  left:2px;
  top:7px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u16044 {
  position:absolute;
  left:510px;
  top:121px;
  width:170px;
  height:30px;
  text-align:center;
}
#u16045 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u16046 {
  position:absolute;
  left:680px;
  top:121px;
  width:170px;
  height:30px;
  text-align:center;
}
#u16047 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16048 {
  position:absolute;
  left:1078px;
  top:264px;
  width:140px;
  height:40px;
}
#u16049 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u16050 {
  position:absolute;
  left:33px;
  top:288px;
  width:61px;
  height:16px;
}
#u16051 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u16050_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u16052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u16052 {
  position:absolute;
  left:1019px;
  top:209px;
  width:16px;
  height:16px;
}
#u16053 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16054 {
  position:absolute;
  left:320px;
  top:205px;
  width:64px;
  height:20px;
}
#u16055 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u16056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16056 {
  position:absolute;
  left:256px;
  top:205px;
  width:64px;
  height:20px;
}
#u16057 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u16058 {
  position:absolute;
  left:112px;
  top:288px;
  width:61px;
  height:16px;
}
#u16059 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u16058_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u16060 {
  position:absolute;
  left:33px;
  top:314px;
  width:70px;
  height:16px;
}
#u16061 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u16060_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u16062 {
  position:absolute;
  left:211px;
  top:276px;
  width:100px;
  height:16px;
}
#u16063 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16062_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u16064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16064 {
  position:absolute;
  left:1078px;
  top:325px;
  width:140px;
  height:40px;
}
#u16065 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u16066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16066 {
  position:absolute;
  left:1078px;
  top:385px;
  width:140px;
  height:40px;
}
#u16067 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u16068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16068 {
  position:absolute;
  left:1078px;
  top:445px;
  width:140px;
  height:40px;
}
#u16069 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u16070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16070 {
  position:absolute;
  left:1078px;
  top:510px;
  width:140px;
  height:40px;
}
#u16071 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
