body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1035px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6539 {
  position:absolute;
  left:0px;
  top:65px;
  width:847px;
  height:382px;
}
#u6540 {
  position:absolute;
  left:2px;
  top:183px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:41px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6541 {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:41px;
}
#u6542 {
  position:absolute;
  left:2px;
  top:12px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6543 {
  position:absolute;
  left:847px;
  top:0px;
  width:188px;
  height:447px;
}
#u6544 {
  position:absolute;
  left:2px;
  top:216px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:42px;
  background:inherit;
  background-color:rgba(41, 128, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6545 {
  position:absolute;
  left:848px;
  top:0px;
  width:187px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6546 {
  position:absolute;
  left:2px;
  top:13px;
  width:183px;
  word-wrap:break-word;
}
#u6547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6547 {
  position:absolute;
  left:0px;
  top:41px;
  width:847px;
  height:24px;
}
#u6548 {
  position:absolute;
  left:2px;
  top:4px;
  width:843px;
  word-wrap:break-word;
}
#u6549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6549 {
  position:absolute;
  left:10px;
  top:13px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6550 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2980B9;
}
#u6551 {
  position:absolute;
  left:10px;
  top:75px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2980B9;
}
#u6552 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6553 {
  position:absolute;
  left:415px;
  top:116px;
  width:406px;
  height:22px;
}
#u6553_input {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6553_input {
  font-family:'微软雅黑';
}
#u6554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6554 {
  position:absolute;
  left:351px;
  top:116px;
  width:61px;
  height:16px;
}
#u6555 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6556 {
  position:absolute;
  left:74px;
  top:116px;
  width:251px;
  height:22px;
}
#u6556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6556_input {
  font-family:'微软雅黑';
}
#u6557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6557 {
  position:absolute;
  left:10px;
  top:116px;
  width:61px;
  height:16px;
}
#u6558 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:2px;
}
#u6559 {
  position:absolute;
  left:0px;
  top:184px;
  width:847px;
  height:1px;
}
#u6560 {
  position:absolute;
  left:2px;
  top:-8px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2980B9;
}
#u6561 {
  position:absolute;
  left:10px;
  top:214px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2980B9;
}
#u6562 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6563 {
  position:absolute;
  left:74px;
  top:246px;
  width:76px;
  height:22px;
}
#u6563_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6563_input {
  font-family:'微软雅黑';
}
#u6564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6564 {
  position:absolute;
  left:10px;
  top:246px;
  width:60px;
  height:16px;
}
#u6565 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u6566 {
  position:absolute;
  left:74px;
  top:284px;
  width:76px;
  height:22px;
}
#u6566_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6566_input {
  font-family:'微软雅黑';
}
#u6567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6567 {
  position:absolute;
  left:10px;
  top:284px;
  width:65px;
  height:16px;
}
#u6568 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6569 {
  position:absolute;
  left:276px;
  top:246px;
  width:76px;
  height:22px;
}
#u6569_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6569_input {
  font-family:'微软雅黑';
}
#u6570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6570 {
  position:absolute;
  left:175px;
  top:246px;
  width:91px;
  height:16px;
}
#u6571 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6572 {
  position:absolute;
  left:276px;
  top:284px;
  width:76px;
  height:22px;
}
#u6572_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6572_input {
  font-family:'微软雅黑';
}
#u6573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6573 {
  position:absolute;
  left:175px;
  top:284px;
  width:75px;
  height:16px;
}
#u6574 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6575 {
  position:absolute;
  left:457px;
  top:246px;
  width:76px;
  height:22px;
}
#u6575_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6575_input {
  font-family:'微软雅黑';
}
#u6576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6576 {
  position:absolute;
  left:386px;
  top:246px;
  width:61px;
  height:16px;
}
#u6577 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6578 {
  position:absolute;
  left:386px;
  top:284px;
  width:61px;
  height:16px;
}
#u6579 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6580 {
  position:absolute;
  left:457px;
  top:284px;
  width:76px;
  height:22px;
}
#u6580_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6580_input {
  font-family:'微软雅黑';
}
#u6580_input:disabled {
  color:grayText;
}
#u6581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6581 {
  position:absolute;
  left:563px;
  top:246px;
  width:61px;
  height:16px;
}
#u6582 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6583 {
  position:absolute;
  left:634px;
  top:246px;
  width:76px;
  height:22px;
}
#u6583_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6583_input {
  font-family:'微软雅黑';
}
#u6583_input:disabled {
  color:grayText;
}
#u6584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6584 {
  position:absolute;
  left:563px;
  top:284px;
  width:61px;
  height:16px;
}
#u6585 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6586 {
  position:absolute;
  left:634px;
  top:284px;
  width:76px;
  height:22px;
}
#u6586_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6586_input {
  font-family:'微软雅黑';
}
#u6587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6587 {
  position:absolute;
  left:735px;
  top:246px;
  width:33px;
  height:16px;
}
#u6588 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6589 {
  position:absolute;
  left:768px;
  top:246px;
  width:69px;
  height:22px;
}
#u6589_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6589_input {
  font-family:'微软雅黑';
}
#u6590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6590 {
  position:absolute;
  left:735px;
  top:284px;
  width:33px;
  height:16px;
}
#u6591 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6592 {
  position:absolute;
  left:768px;
  top:284px;
  width:69px;
  height:22px;
}
#u6592_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6592_input {
  font-family:'微软雅黑';
}
#u6593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:2px;
}
#u6593 {
  position:absolute;
  left:0px;
  top:323px;
  width:847px;
  height:1px;
}
#u6594 {
  position:absolute;
  left:2px;
  top:-8px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2980B9;
}
#u6595 {
  position:absolute;
  left:10px;
  top:334px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2980B9;
}
#u6596 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6597 {
  position:absolute;
  left:74px;
  top:368px;
  width:76px;
  height:22px;
}
#u6597_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6597_input {
  font-family:'微软雅黑';
}
#u6598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6598 {
  position:absolute;
  left:10px;
  top:368px;
  width:55px;
  height:16px;
}
#u6599 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6600 {
  position:absolute;
  left:74px;
  top:400px;
  width:76px;
  height:22px;
}
#u6600_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6600_input {
  font-family:'微软雅黑';
}
#u6601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6601 {
  position:absolute;
  left:10px;
  top:400px;
  width:41px;
  height:16px;
}
#u6602 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6603 {
  position:absolute;
  left:239px;
  top:368px;
  width:76px;
  height:22px;
}
#u6603_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6603_input {
  font-family:'微软雅黑';
}
#u6604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6604 {
  position:absolute;
  left:175px;
  top:368px;
  width:55px;
  height:16px;
}
#u6605 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6606 {
  position:absolute;
  left:239px;
  top:400px;
  width:76px;
  height:22px;
}
#u6606_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6606_input {
  font-family:'微软雅黑';
}
#u6607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6607 {
  position:absolute;
  left:175px;
  top:400px;
  width:41px;
  height:16px;
}
#u6608 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6609 {
  position:absolute;
  left:418px;
  top:368px;
  width:76px;
  height:22px;
}
#u6609_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6609_input {
  font-family:'微软雅黑';
}
#u6610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6610 {
  position:absolute;
  left:354px;
  top:368px;
  width:54px;
  height:16px;
}
#u6611 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u6612 {
  position:absolute;
  left:418px;
  top:400px;
  width:76px;
  height:22px;
}
#u6612_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6612_input {
  font-family:'微软雅黑';
}
#u6613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6613 {
  position:absolute;
  left:354px;
  top:400px;
  width:40px;
  height:16px;
}
#u6614 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6615 {
  position:absolute;
  left:601px;
  top:368px;
  width:125px;
  height:22px;
}
#u6615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6615_input {
  font-family:'微软雅黑';
}
#u6616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6616 {
  position:absolute;
  left:537px;
  top:368px;
  width:61px;
  height:16px;
}
#u6617 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6618 {
  position:absolute;
  left:871px;
  top:368px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u6619 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6620 {
  position:absolute;
  left:292px;
  top:75px;
  width:309px;
  height:16px;
  color:#FF0000;
}
#u6621 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
