body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:1221px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:525px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11646 {
  position:absolute;
  left:1054px;
  top:195px;
  width:188px;
  height:525px;
}
#u11647 {
  position:absolute;
  left:2px;
  top:254px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(41, 128, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11648 {
  position:absolute;
  left:1054px;
  top:195px;
  width:187px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11649 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u11650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11650 {
  position:absolute;
  left:204px;
  top:195px;
  width:850px;
  height:40px;
}
#u11651 {
  position:absolute;
  left:2px;
  top:12px;
  width:846px;
  word-wrap:break-word;
}
#u11652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11652 {
  position:absolute;
  left:204px;
  top:201px;
  width:52px;
  height:20px;
}
#u11653 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u11654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:485px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11654 {
  position:absolute;
  left:21px;
  top:235px;
  width:183px;
  height:485px;
}
#u11655 {
  position:absolute;
  left:2px;
  top:234px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11656 {
  position:absolute;
  left:21px;
  top:195px;
  width:183px;
  height:40px;
}
#u11657 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11658 {
  position:absolute;
  left:95px;
  top:205px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11659 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:1px;
}
#u11660 {
  position:absolute;
  left:21px;
  top:719px;
  width:183px;
  height:1px;
}
#u11661 {
  position:absolute;
  left:2px;
  top:-8px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11662 {
  position:absolute;
  left:152px;
  top:292px;
  width:36px;
  height:21px;
}
#u11662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11662_input {
  font-family:'微软雅黑';
}
#u11663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11663 {
  position:absolute;
  left:33px;
  top:256px;
  width:74px;
  height:16px;
}
#u11664 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u11665 {
  position:absolute;
  left:152px;
  top:414px;
  width:36px;
  height:21px;
}
#u11665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11665_input {
  font-family:'微软雅黑';
}
#u11666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11666 {
  position:absolute;
  left:33px;
  top:343px;
  width:61px;
  height:16px;
}
#u11667 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11668 {
  position:absolute;
  left:33px;
  top:290px;
  width:109px;
  height:25px;
}
#u11668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11668_input {
  font-family:'微软雅黑';
}
#u11669 {
  position:absolute;
  left:33px;
  top:375px;
  width:109px;
  height:25px;
}
#u11669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11669_input {
  font-family:'微软雅黑';
}
#u11670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11670 {
  position:absolute;
  left:152px;
  top:388px;
  width:15px;
  height:16px;
}
#u11671 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u11672 {
  position:absolute;
  left:33px;
  top:410px;
  width:109px;
  height:25px;
}
#u11672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11672_input {
  font-family:'微软雅黑';
}
#u11673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:485px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11673 {
  position:absolute;
  left:204px;
  top:235px;
  width:850px;
  height:485px;
}
#u11674 {
  position:absolute;
  left:2px;
  top:234px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11675 {
  position:absolute;
  left:204px;
  top:235px;
  width:855px;
  height:95px;
}
#u11676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u11676 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  text-align:center;
}
#u11677 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u11678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u11678 {
  position:absolute;
  left:65px;
  top:0px;
  width:123px;
  height:30px;
  text-align:center;
}
#u11679 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u11680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u11680 {
  position:absolute;
  left:188px;
  top:0px;
  width:131px;
  height:30px;
  text-align:center;
}
#u11681 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u11682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11682 {
  position:absolute;
  left:319px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11683 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u11684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11684 {
  position:absolute;
  left:425px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11685 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u11686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11686 {
  position:absolute;
  left:531px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11687 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u11688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11688 {
  position:absolute;
  left:637px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11689 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u11690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u11690 {
  position:absolute;
  left:743px;
  top:0px;
  width:107px;
  height:30px;
  text-align:center;
}
#u11691 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u11692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u11692 {
  position:absolute;
  left:0px;
  top:30px;
  width:65px;
  height:30px;
  text-align:center;
}
#u11693 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u11694 {
  position:absolute;
  left:65px;
  top:30px;
  width:123px;
  height:30px;
  text-align:center;
}
#u11695 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u11696 {
  position:absolute;
  left:188px;
  top:30px;
  width:131px;
  height:30px;
  text-align:center;
}
#u11697 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11698 {
  position:absolute;
  left:319px;
  top:30px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11699 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11700 {
  position:absolute;
  left:425px;
  top:30px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11701 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11702 {
  position:absolute;
  left:531px;
  top:30px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11703 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11704 {
  position:absolute;
  left:637px;
  top:30px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11705 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u11706 {
  position:absolute;
  left:743px;
  top:30px;
  width:107px;
  height:30px;
  text-align:center;
}
#u11707 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u11708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u11708 {
  position:absolute;
  left:0px;
  top:60px;
  width:65px;
  height:30px;
  text-align:center;
}
#u11709 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u11710 {
  position:absolute;
  left:65px;
  top:60px;
  width:123px;
  height:30px;
  text-align:center;
}
#u11711 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u11712 {
  position:absolute;
  left:188px;
  top:60px;
  width:131px;
  height:30px;
  text-align:center;
}
#u11713 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11714 {
  position:absolute;
  left:319px;
  top:60px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11715 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11716 {
  position:absolute;
  left:425px;
  top:60px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11717 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11718 {
  position:absolute;
  left:531px;
  top:60px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11719 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u11720 {
  position:absolute;
  left:637px;
  top:60px;
  width:106px;
  height:30px;
  text-align:center;
}
#u11721 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u11722 {
  position:absolute;
  left:743px;
  top:60px;
  width:107px;
  height:30px;
  text-align:center;
}
#u11723 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u11724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11724 {
  position:absolute;
  left:1078px;
  top:654px;
  width:140px;
  height:40px;
}
#u11725 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u11726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11726 {
  position:absolute;
  left:1078px;
  top:275px;
  width:140px;
  height:40px;
}
#u11727 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u11728 {
  position:absolute;
  left:221px;
  top:272px;
  width:29px;
  height:16px;
}
#u11729 {
  position:absolute;
  left:16px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u11728_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
