body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:1221px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:525px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12184 {
  position:absolute;
  left:1054px;
  top:195px;
  width:188px;
  height:525px;
}
#u12185 {
  position:absolute;
  left:2px;
  top:254px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(41, 128, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12186 {
  position:absolute;
  left:1054px;
  top:195px;
  width:187px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12187 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u12188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12188 {
  position:absolute;
  left:204px;
  top:195px;
  width:850px;
  height:40px;
}
#u12189 {
  position:absolute;
  left:2px;
  top:12px;
  width:846px;
  word-wrap:break-word;
}
#u12190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:485px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12190 {
  position:absolute;
  left:204px;
  top:235px;
  width:850px;
  height:485px;
}
#u12191 {
  position:absolute;
  left:2px;
  top:234px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12192 {
  position:absolute;
  left:1078px;
  top:654px;
  width:140px;
  height:40px;
}
#u12193 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12194 {
  position:absolute;
  left:1078px;
  top:263px;
  width:140px;
  height:40px;
}
#u12195 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:2px;
}
#u12196 {
  position:absolute;
  left:204px;
  top:443px;
  width:850px;
  height:1px;
}
#u12197 {
  position:absolute;
  left:2px;
  top:-8px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12198 {
  position:absolute;
  left:204px;
  top:235px;
  width:855px;
  height:225px;
}
#u12199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u12199 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  text-align:center;
}
#u12200 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  word-wrap:break-word;
}
#u12201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u12201 {
  position:absolute;
  left:44px;
  top:0px;
  width:64px;
  height:30px;
  text-align:center;
}
#u12202 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u12203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u12203 {
  position:absolute;
  left:108px;
  top:0px;
  width:61px;
  height:30px;
  text-align:center;
}
#u12204 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  word-wrap:break-word;
}
#u12205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12205 {
  position:absolute;
  left:169px;
  top:0px;
  width:67px;
  height:30px;
  text-align:center;
}
#u12206 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u12207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u12207 {
  position:absolute;
  left:236px;
  top:0px;
  width:148px;
  height:30px;
  text-align:center;
}
#u12208 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u12209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12209 {
  position:absolute;
  left:384px;
  top:0px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12210 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u12211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12211 {
  position:absolute;
  left:423px;
  top:0px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12212 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u12213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u12213 {
  position:absolute;
  left:462px;
  top:0px;
  width:83px;
  height:30px;
  text-align:center;
}
#u12214 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u12215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u12215 {
  position:absolute;
  left:545px;
  top:0px;
  width:76px;
  height:30px;
  text-align:center;
}
#u12216 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u12217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u12217 {
  position:absolute;
  left:621px;
  top:0px;
  width:86px;
  height:30px;
  text-align:center;
}
#u12218 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u12219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u12219 {
  position:absolute;
  left:707px;
  top:0px;
  width:71px;
  height:30px;
  text-align:center;
}
#u12220 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u12221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u12221 {
  position:absolute;
  left:778px;
  top:0px;
  width:72px;
  height:30px;
  text-align:center;
}
#u12222 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u12223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
}
#u12223 {
  position:absolute;
  left:0px;
  top:30px;
  width:44px;
  height:70px;
  text-align:center;
}
#u12224 {
  position:absolute;
  left:2px;
  top:27px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:70px;
}
#u12225 {
  position:absolute;
  left:44px;
  top:30px;
  width:64px;
  height:70px;
  text-align:center;
}
#u12226 {
  position:absolute;
  left:2px;
  top:27px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:70px;
}
#u12227 {
  position:absolute;
  left:108px;
  top:30px;
  width:61px;
  height:70px;
  text-align:center;
}
#u12228 {
  position:absolute;
  left:2px;
  top:27px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:70px;
}
#u12229 {
  position:absolute;
  left:169px;
  top:30px;
  width:67px;
  height:70px;
  text-align:center;
}
#u12230 {
  position:absolute;
  left:2px;
  top:27px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:70px;
}
#u12231 {
  position:absolute;
  left:236px;
  top:30px;
  width:148px;
  height:70px;
  text-align:center;
}
#u12232 {
  position:absolute;
  left:2px;
  top:27px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:70px;
}
#u12233 {
  position:absolute;
  left:384px;
  top:30px;
  width:39px;
  height:70px;
  text-align:center;
}
#u12234 {
  position:absolute;
  left:2px;
  top:27px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:70px;
}
#u12235 {
  position:absolute;
  left:423px;
  top:30px;
  width:39px;
  height:70px;
  text-align:center;
}
#u12236 {
  position:absolute;
  left:2px;
  top:27px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:70px;
}
#u12237 {
  position:absolute;
  left:462px;
  top:30px;
  width:83px;
  height:70px;
  text-align:center;
}
#u12238 {
  position:absolute;
  left:2px;
  top:27px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:70px;
}
#u12239 {
  position:absolute;
  left:545px;
  top:30px;
  width:76px;
  height:70px;
  text-align:center;
}
#u12240 {
  position:absolute;
  left:2px;
  top:27px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:70px;
}
#u12241 {
  position:absolute;
  left:621px;
  top:30px;
  width:86px;
  height:70px;
  text-align:center;
}
#u12242 {
  position:absolute;
  left:2px;
  top:27px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:70px;
}
#u12243 {
  position:absolute;
  left:707px;
  top:30px;
  width:71px;
  height:70px;
  text-align:center;
}
#u12244 {
  position:absolute;
  left:2px;
  top:27px;
  width:67px;
  word-wrap:break-word;
}
#u12245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:70px;
}
#u12245 {
  position:absolute;
  left:778px;
  top:30px;
  width:72px;
  height:70px;
  text-align:center;
}
#u12246 {
  position:absolute;
  left:2px;
  top:19px;
  width:68px;
  word-wrap:break-word;
}
#u12247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u12247 {
  position:absolute;
  left:0px;
  top:100px;
  width:44px;
  height:30px;
  text-align:center;
}
#u12248 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u12249 {
  position:absolute;
  left:44px;
  top:100px;
  width:64px;
  height:30px;
  text-align:center;
}
#u12250 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u12251 {
  position:absolute;
  left:108px;
  top:100px;
  width:61px;
  height:30px;
  text-align:center;
}
#u12252 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12253 {
  position:absolute;
  left:169px;
  top:100px;
  width:67px;
  height:30px;
  text-align:center;
}
#u12254 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u12255 {
  position:absolute;
  left:236px;
  top:100px;
  width:148px;
  height:30px;
  text-align:center;
}
#u12256 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12257 {
  position:absolute;
  left:384px;
  top:100px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12258 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12259 {
  position:absolute;
  left:423px;
  top:100px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12260 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u12261 {
  position:absolute;
  left:462px;
  top:100px;
  width:83px;
  height:30px;
  text-align:center;
}
#u12262 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u12263 {
  position:absolute;
  left:545px;
  top:100px;
  width:76px;
  height:30px;
  text-align:center;
}
#u12264 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u12265 {
  position:absolute;
  left:621px;
  top:100px;
  width:86px;
  height:30px;
  text-align:center;
}
#u12266 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u12267 {
  position:absolute;
  left:707px;
  top:100px;
  width:71px;
  height:30px;
  text-align:center;
}
#u12268 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u12269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u12269 {
  position:absolute;
  left:778px;
  top:100px;
  width:72px;
  height:30px;
  text-align:center;
}
#u12270 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u12271 {
  position:absolute;
  left:0px;
  top:130px;
  width:44px;
  height:30px;
  text-align:center;
}
#u12272 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u12273 {
  position:absolute;
  left:44px;
  top:130px;
  width:64px;
  height:30px;
  text-align:center;
}
#u12274 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u12275 {
  position:absolute;
  left:108px;
  top:130px;
  width:61px;
  height:30px;
  text-align:center;
}
#u12276 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12277 {
  position:absolute;
  left:169px;
  top:130px;
  width:67px;
  height:30px;
  text-align:center;
}
#u12278 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u12279 {
  position:absolute;
  left:236px;
  top:130px;
  width:148px;
  height:30px;
  text-align:center;
}
#u12280 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12281 {
  position:absolute;
  left:384px;
  top:130px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12282 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12283 {
  position:absolute;
  left:423px;
  top:130px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12284 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u12285 {
  position:absolute;
  left:462px;
  top:130px;
  width:83px;
  height:30px;
  text-align:center;
}
#u12286 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u12287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u12287 {
  position:absolute;
  left:545px;
  top:130px;
  width:76px;
  height:30px;
  text-align:center;
}
#u12288 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u12289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u12289 {
  position:absolute;
  left:621px;
  top:130px;
  width:86px;
  height:30px;
  text-align:center;
}
#u12290 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u12291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u12291 {
  position:absolute;
  left:707px;
  top:130px;
  width:71px;
  height:30px;
  text-align:center;
}
#u12292 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u12293 {
  position:absolute;
  left:778px;
  top:130px;
  width:72px;
  height:30px;
  text-align:center;
}
#u12294 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u12295 {
  position:absolute;
  left:0px;
  top:160px;
  width:44px;
  height:30px;
  text-align:center;
}
#u12296 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u12297 {
  position:absolute;
  left:44px;
  top:160px;
  width:64px;
  height:30px;
  text-align:center;
}
#u12298 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u12299 {
  position:absolute;
  left:108px;
  top:160px;
  width:61px;
  height:30px;
  text-align:center;
}
#u12300 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12301 {
  position:absolute;
  left:169px;
  top:160px;
  width:67px;
  height:30px;
  text-align:center;
}
#u12302 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u12303 {
  position:absolute;
  left:236px;
  top:160px;
  width:148px;
  height:30px;
  text-align:center;
}
#u12304 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12305 {
  position:absolute;
  left:384px;
  top:160px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12306 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12307 {
  position:absolute;
  left:423px;
  top:160px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12308 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u12309 {
  position:absolute;
  left:462px;
  top:160px;
  width:83px;
  height:30px;
  text-align:center;
}
#u12310 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u12311 {
  position:absolute;
  left:545px;
  top:160px;
  width:76px;
  height:30px;
  text-align:center;
}
#u12312 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u12313 {
  position:absolute;
  left:621px;
  top:160px;
  width:86px;
  height:30px;
  text-align:center;
}
#u12314 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u12315 {
  position:absolute;
  left:707px;
  top:160px;
  width:71px;
  height:30px;
  text-align:center;
}
#u12316 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u12317 {
  position:absolute;
  left:778px;
  top:160px;
  width:72px;
  height:30px;
  text-align:center;
}
#u12318 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u12319 {
  position:absolute;
  left:0px;
  top:190px;
  width:44px;
  height:30px;
  text-align:center;
}
#u12320 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u12321 {
  position:absolute;
  left:44px;
  top:190px;
  width:64px;
  height:30px;
  text-align:center;
}
#u12322 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u12323 {
  position:absolute;
  left:108px;
  top:190px;
  width:61px;
  height:30px;
  text-align:center;
}
#u12324 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u12325 {
  position:absolute;
  left:169px;
  top:190px;
  width:67px;
  height:30px;
  text-align:center;
}
#u12326 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u12327 {
  position:absolute;
  left:236px;
  top:190px;
  width:148px;
  height:30px;
  text-align:center;
}
#u12328 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12329 {
  position:absolute;
  left:384px;
  top:190px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12330 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u12331 {
  position:absolute;
  left:423px;
  top:190px;
  width:39px;
  height:30px;
  text-align:center;
}
#u12332 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u12333 {
  position:absolute;
  left:462px;
  top:190px;
  width:83px;
  height:30px;
  text-align:center;
}
#u12334 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u12335 {
  position:absolute;
  left:545px;
  top:190px;
  width:76px;
  height:30px;
  text-align:center;
}
#u12336 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u12337 {
  position:absolute;
  left:621px;
  top:190px;
  width:86px;
  height:30px;
  text-align:center;
}
#u12338 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u12339 {
  position:absolute;
  left:707px;
  top:190px;
  width:71px;
  height:30px;
  text-align:center;
}
#u12340 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u12341 {
  position:absolute;
  left:778px;
  top:190px;
  width:72px;
  height:30px;
  text-align:center;
}
#u12342 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12343 {
  position:absolute;
  left:213px;
  top:272px;
  width:28px;
  height:16px;
}
#u12344 {
  position:absolute;
  left:16px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u12343_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u12345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2980B9;
}
#u12345 {
  position:absolute;
  left:213px;
  top:462px;
  width:57px;
  height:16px;
  color:#2980B9;
}
#u12346 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12347 {
  position:absolute;
  left:213px;
  top:203px;
  width:57px;
  height:25px;
}
#u12347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12347_input {
  font-family:'微软雅黑';
}
#u12348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12348 {
  position:absolute;
  left:213px;
  top:496px;
  width:82px;
  height:16px;
}
#u12349 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u12350 {
  position:absolute;
  left:305px;
  top:496px;
  width:200px;
  height:22px;
}
#u12350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12350_input {
  font-family:'微软雅黑';
}
#u12350_input:disabled {
  color:grayText;
}
#u12351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12351 {
  position:absolute;
  left:554px;
  top:496px;
  width:83px;
  height:16px;
}
#u12352 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12353 {
  position:absolute;
  left:646px;
  top:496px;
  width:200px;
  height:22px;
}
#u12353_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12353_input {
  font-family:'微软雅黑';
}
#u12353_input:disabled {
  color:grayText;
}
#u12354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12354 {
  position:absolute;
  left:877px;
  top:495px;
  width:67px;
  height:25px;
}
#u12355 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u12356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:2px;
}
#u12356 {
  position:absolute;
  left:204px;
  top:541px;
  width:850px;
  height:1px;
}
#u12357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2980B9;
}
#u12358 {
  position:absolute;
  left:213px;
  top:561px;
  width:57px;
  height:16px;
  color:#2980B9;
}
#u12359 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12360 {
  position:absolute;
  left:305px;
  top:596px;
  width:100px;
  height:16px;
}
#u12361 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12360_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u12362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2980B9;
}
#u12362 {
  position:absolute;
  left:213px;
  top:596px;
  width:53px;
  height:16px;
  color:#2980B9;
}
#u12363 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12364 {
  position:absolute;
  left:451px;
  top:596px;
  width:100px;
  height:16px;
}
#u12365 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12364_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u12366 {
  position:absolute;
  left:613px;
  top:596px;
  width:100px;
  height:16px;
}
#u12367 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12366_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u12368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12368 {
  position:absolute;
  left:494px;
  top:679px;
  width:91px;
  height:25px;
}
#u12369 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u12370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12370 {
  position:absolute;
  left:622px;
  top:679px;
  width:91px;
  height:25px;
}
#u12371 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u12372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12372 {
  position:absolute;
  left:681px;
  top:272px;
  width:61px;
  height:24px;
}
#u12373 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u12374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12374 {
  position:absolute;
  left:681px;
  top:302px;
  width:61px;
  height:24px;
}
#u12375 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u12376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12376 {
  position:absolute;
  left:758px;
  top:272px;
  width:61px;
  height:24px;
}
#u12377 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u12378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12378 {
  position:absolute;
  left:758px;
  top:302px;
  width:61px;
  height:24px;
}
#u12379 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u12380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12380 {
  position:absolute;
  left:829px;
  top:272px;
  width:61px;
  height:24px;
}
#u12381 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u12382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12382 {
  position:absolute;
  left:829px;
  top:302px;
  width:61px;
  height:24px;
}
#u12383 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u12384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12384 {
  position:absolute;
  left:1078px;
  top:329px;
  width:140px;
  height:40px;
}
#u12385 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2980B9;
}
#u12386 {
  position:absolute;
  left:213px;
  top:633px;
  width:66px;
  height:16px;
  color:#2980B9;
}
#u12387 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12388 {
  position:absolute;
  left:511px;
  top:633px;
  width:70px;
  height:22px;
}
#u12388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12388_input {
  font-family:'微软雅黑';
}
#u12388_input:disabled {
  color:grayText;
}
#u12389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12389 {
  position:absolute;
  left:474px;
  top:633px;
  width:27px;
  height:16px;
}
#u12390 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u12391 {
  position:absolute;
  left:608px;
  top:633px;
  width:1px;
  height:22px;
}
#u12392 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12393 {
  position:absolute;
  left:636px;
  top:636px;
  width:53px;
  height:16px;
}
#u12394 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12395 {
  position:absolute;
  left:699px;
  top:632px;
  width:136px;
  height:25px;
}
#u12395_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12395_input {
  font-family:'微软雅黑';
}
#u12396 {
  position:absolute;
  left:305px;
  top:636px;
  width:51px;
  height:16px;
}
#u12397 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u12396_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u12398 {
  position:absolute;
  left:380px;
  top:636px;
  width:64px;
  height:16px;
}
#u12399 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12398_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u12400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12400 {
  position:absolute;
  left:1078px;
  top:394px;
  width:140px;
  height:40px;
}
#u12401 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:485px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12402 {
  position:absolute;
  left:21px;
  top:235px;
  width:183px;
  height:485px;
}
#u12403 {
  position:absolute;
  left:2px;
  top:234px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12404 {
  position:absolute;
  left:21px;
  top:195px;
  width:183px;
  height:40px;
}
#u12405 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12406 {
  position:absolute;
  left:95px;
  top:205px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12407 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:1px;
}
#u12408 {
  position:absolute;
  left:21px;
  top:719px;
  width:183px;
  height:1px;
}
#u12409 {
  position:absolute;
  left:2px;
  top:-8px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12410 {
  position:absolute;
  left:142px;
  top:596px;
  width:52px;
  height:21px;
}
#u12410_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12410_input {
  font-family:'微软雅黑';
}
#u12411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12411 {
  position:absolute;
  left:33px;
  top:256px;
  width:60px;
  height:16px;
}
#u12412 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u12413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12413 {
  position:absolute;
  left:33px;
  top:343px;
  width:61px;
  height:16px;
}
#u12414 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12415 {
  position:absolute;
  left:33px;
  top:290px;
  width:140px;
  height:25px;
}
#u12415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12415_input {
  font-family:'微软雅黑';
}
#u12416 {
  position:absolute;
  left:33px;
  top:375px;
  width:140px;
  height:25px;
}
#u12416_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12416_input {
  font-family:'微软雅黑';
}
#u12417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12417 {
  position:absolute;
  left:33px;
  top:435px;
  width:89px;
  height:16px;
}
#u12418 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12419 {
  position:absolute;
  left:33px;
  top:467px;
  width:140px;
  height:22px;
}
#u12419_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12419_input {
  font-family:'微软雅黑';
}
#u12419_input:disabled {
  color:grayText;
}
#u12420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12420 {
  position:absolute;
  left:877px;
  top:629px;
  width:67px;
  height:25px;
}
#u12421 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
