body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:1221px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:502px;
}
#u11033 {
  position:absolute;
  left:515px;
  top:811px;
  width:400px;
  height:502px;
}
#u11034 {
  position:absolute;
  left:2px;
  top:243px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11035 {
  position:absolute;
  left:738px;
  top:1269px;
  width:76px;
  height:26px;
}
#u11036 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u11037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11037 {
  position:absolute;
  left:824px;
  top:1269px;
  width:76px;
  height:26px;
}
#u11038 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u11039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u11039 {
  position:absolute;
  left:532px;
  top:818px;
  width:150px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u11040 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u11041 {
  position:absolute;
  left:532px;
  top:866px;
  width:362px;
  height:132px;
}
#u11041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:132px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u11041_input {
  font-family:'微软雅黑';
}
#u11042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:2px;
}
#u11042 {
  position:absolute;
  left:521px;
  top:1045px;
  width:386px;
  height:1px;
  color:#999999;
}
#u11043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11044 {
  position:absolute;
  left:532px;
  top:1008px;
  width:76px;
  height:26px;
  color:#000000;
}
#u11045 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u11046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11046 {
  position:absolute;
  left:618px;
  top:1008px;
  width:76px;
  height:26px;
  color:#000000;
}
#u11047 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u11048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u11048 {
  position:absolute;
  left:710px;
  top:1011px;
  width:184px;
  height:16px;
  color:#666666;
}
#u11049 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u11050 {
  position:absolute;
  left:532px;
  top:1064px;
  width:362px;
  height:132px;
}
#u11050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:132px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u11050_input {
  font-family:'微软雅黑';
}
#u11051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11051 {
  position:absolute;
  left:532px;
  top:1206px;
  width:76px;
  height:26px;
  color:#000000;
}
#u11052 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u11053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:525px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11053 {
  position:absolute;
  left:1054px;
  top:195px;
  width:188px;
  height:525px;
}
#u11054 {
  position:absolute;
  left:2px;
  top:254px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 128, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11055 {
  position:absolute;
  left:1054px;
  top:195px;
  width:187px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11056 {
  position:absolute;
  left:2px;
  top:9px;
  width:183px;
  word-wrap:break-word;
}
#u11057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11057 {
  position:absolute;
  left:204px;
  top:195px;
  width:850px;
  height:40px;
}
#u11058 {
  position:absolute;
  left:2px;
  top:12px;
  width:846px;
  word-wrap:break-word;
}
#u11059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11059 {
  position:absolute;
  left:204px;
  top:201px;
  width:52px;
  height:20px;
}
#u11060 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u11061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:1px;
}
#u11061 {
  position:absolute;
  left:21px;
  top:763px;
  width:183px;
  height:1px;
}
#u11062 {
  position:absolute;
  left:2px;
  top:-8px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11063 {
  position:absolute;
  left:1078px;
  top:250px;
  width:140px;
  height:40px;
}
#u11064 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u11065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:485px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11065 {
  position:absolute;
  left:204px;
  top:235px;
  width:850px;
  height:485px;
}
#u11066 {
  position:absolute;
  left:2px;
  top:234px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11067 {
  position:absolute;
  left:224px;
  top:274px;
  width:780px;
  height:144px;
}
#u11067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:144px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u11067_input {
  font-family:'微软雅黑';
}
#u11068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11068 {
  position:absolute;
  left:224px;
  top:428px;
  width:76px;
  height:26px;
  color:#000000;
}
#u11069 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u11070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11070 {
  position:absolute;
  left:310px;
  top:428px;
  width:76px;
  height:26px;
  color:#000000;
}
#u11071 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u11072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u11072 {
  position:absolute;
  left:402px;
  top:431px;
  width:184px;
  height:16px;
  color:#666666;
}
#u11073 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u11074 {
  position:absolute;
  left:224px;
  top:475px;
  width:780px;
  height:132px;
}
#u11074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:132px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u11074_input {
  font-family:'微软雅黑';
}
#u11075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11075 {
  position:absolute;
  left:224px;
  top:617px;
  width:76px;
  height:26px;
  color:#000000;
}
#u11076 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u11077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11077 {
  position:absolute;
  left:842px;
  top:676px;
  width:76px;
  height:26px;
}
#u11078 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u11079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11079 {
  position:absolute;
  left:928px;
  top:676px;
  width:76px;
  height:26px;
}
#u11080 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
