body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-288px;
  width:400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:203px;
}
#u6453 {
  position:absolute;
  left:288px;
  top:188px;
  width:400px;
  height:203px;
}
#u6454 {
  position:absolute;
  left:2px;
  top:94px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6455 {
  position:absolute;
  left:498px;
  top:352px;
  width:76px;
  height:26px;
}
#u6456 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u6457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6457 {
  position:absolute;
  left:584px;
  top:352px;
  width:76px;
  height:26px;
}
#u6458 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u6459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u6459 {
  position:absolute;
  left:305px;
  top:195px;
  width:150px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u6460 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6461 {
  position:absolute;
  left:305px;
  top:236px;
  width:89px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6462 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6463 {
  position:absolute;
  left:394px;
  top:236px;
  width:246px;
  height:25px;
}
#u6463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6463_input {
  font-family:'微软雅黑';
}
#u6464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6464 {
  position:absolute;
  left:640px;
  top:236px;
  width:32px;
  height:25px;
}
#u6465 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u6466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6466 {
  position:absolute;
  left:305px;
  top:285px;
  width:103px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6467 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u6468 {
  position:absolute;
  left:418px;
  top:285px;
  width:222px;
  height:25px;
}
#u6468_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6468_input {
  font-family:'微软雅黑';
}
#u6469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6469 {
  position:absolute;
  left:640px;
  top:285px;
  width:32px;
  height:25px;
}
#u6470 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
