body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:1221px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:525px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12993 {
  position:absolute;
  left:1054px;
  top:195px;
  width:188px;
  height:525px;
}
#u12994 {
  position:absolute;
  left:2px;
  top:254px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(41, 128, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12995 {
  position:absolute;
  left:1054px;
  top:195px;
  width:187px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12996 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u12997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12997 {
  position:absolute;
  left:204px;
  top:195px;
  width:850px;
  height:40px;
}
#u12998 {
  position:absolute;
  left:2px;
  top:12px;
  width:846px;
  word-wrap:break-word;
}
#u12999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12999 {
  position:absolute;
  left:204px;
  top:205px;
  width:52px;
  height:20px;
}
#u13000 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u13001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:485px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13001 {
  position:absolute;
  left:21px;
  top:235px;
  width:183px;
  height:485px;
}
#u13002 {
  position:absolute;
  left:2px;
  top:234px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13003 {
  position:absolute;
  left:21px;
  top:195px;
  width:183px;
  height:40px;
}
#u13004 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13005 {
  position:absolute;
  left:95px;
  top:205px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13006 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:1px;
}
#u13007 {
  position:absolute;
  left:21px;
  top:719px;
  width:183px;
  height:1px;
}
#u13008 {
  position:absolute;
  left:2px;
  top:-8px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13009 {
  position:absolute;
  left:165px;
  top:257px;
  width:36px;
  height:21px;
}
#u13009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13009_input {
  font-family:'微软雅黑';
}
#u13010 {
  position:absolute;
  left:33px;
  top:253px;
  width:127px;
  height:25px;
}
#u13010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13010_input {
  font-family:'微软雅黑';
}
#u13011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:485px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13011 {
  position:absolute;
  left:204px;
  top:235px;
  width:850px;
  height:485px;
}
#u13012 {
  position:absolute;
  left:2px;
  top:234px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13013 {
  position:absolute;
  left:204px;
  top:235px;
  width:855px;
  height:156px;
}
#u13014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u13014 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
  text-align:center;
}
#u13015 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u13016 {
  position:absolute;
  left:121px;
  top:0px;
  width:75px;
  height:31px;
  text-align:center;
}
#u13017 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u13018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u13018 {
  position:absolute;
  left:196px;
  top:0px;
  width:94px;
  height:31px;
  text-align:center;
}
#u13019 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u13020 {
  position:absolute;
  left:290px;
  top:0px;
  width:98px;
  height:31px;
  text-align:center;
}
#u13021 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u13022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u13022 {
  position:absolute;
  left:388px;
  top:0px;
  width:94px;
  height:31px;
  text-align:center;
}
#u13023 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u13024 {
  position:absolute;
  left:482px;
  top:0px;
  width:83px;
  height:31px;
  text-align:center;
}
#u13025 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u13026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u13026 {
  position:absolute;
  left:565px;
  top:0px;
  width:94px;
  height:31px;
  text-align:center;
}
#u13027 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u13028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u13028 {
  position:absolute;
  left:659px;
  top:0px;
  width:94px;
  height:31px;
  text-align:center;
}
#u13029 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u13030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u13030 {
  position:absolute;
  left:753px;
  top:0px;
  width:97px;
  height:31px;
  text-align:center;
}
#u13031 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u13032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u13032 {
  position:absolute;
  left:0px;
  top:31px;
  width:121px;
  height:30px;
  text-align:center;
}
#u13033 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u13034 {
  position:absolute;
  left:121px;
  top:31px;
  width:75px;
  height:30px;
  text-align:center;
}
#u13035 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13036 {
  position:absolute;
  left:196px;
  top:31px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13037 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u13038 {
  position:absolute;
  left:290px;
  top:31px;
  width:98px;
  height:30px;
  text-align:center;
}
#u13039 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13040 {
  position:absolute;
  left:388px;
  top:31px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13041 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u13042 {
  position:absolute;
  left:482px;
  top:31px;
  width:83px;
  height:30px;
  text-align:center;
}
#u13043 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13044 {
  position:absolute;
  left:565px;
  top:31px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13045 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13046 {
  position:absolute;
  left:659px;
  top:31px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13047 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u13048 {
  position:absolute;
  left:753px;
  top:31px;
  width:97px;
  height:30px;
  text-align:center;
}
#u13049 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u13050 {
  position:absolute;
  left:0px;
  top:61px;
  width:121px;
  height:30px;
  text-align:center;
}
#u13051 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u13052 {
  position:absolute;
  left:121px;
  top:61px;
  width:75px;
  height:30px;
  text-align:center;
}
#u13053 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13054 {
  position:absolute;
  left:196px;
  top:61px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13055 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u13056 {
  position:absolute;
  left:290px;
  top:61px;
  width:98px;
  height:30px;
  text-align:center;
}
#u13057 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13058 {
  position:absolute;
  left:388px;
  top:61px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13059 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u13060 {
  position:absolute;
  left:482px;
  top:61px;
  width:83px;
  height:30px;
  text-align:center;
}
#u13061 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13062 {
  position:absolute;
  left:565px;
  top:61px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13063 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13064 {
  position:absolute;
  left:659px;
  top:61px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13065 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u13066 {
  position:absolute;
  left:753px;
  top:61px;
  width:97px;
  height:30px;
  text-align:center;
}
#u13067 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u13068 {
  position:absolute;
  left:0px;
  top:91px;
  width:121px;
  height:30px;
  text-align:center;
}
#u13069 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u13070 {
  position:absolute;
  left:121px;
  top:91px;
  width:75px;
  height:30px;
  text-align:center;
}
#u13071 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13072 {
  position:absolute;
  left:196px;
  top:91px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13073 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u13074 {
  position:absolute;
  left:290px;
  top:91px;
  width:98px;
  height:30px;
  text-align:center;
}
#u13075 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13076 {
  position:absolute;
  left:388px;
  top:91px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13077 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u13078 {
  position:absolute;
  left:482px;
  top:91px;
  width:83px;
  height:30px;
  text-align:center;
}
#u13079 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13080 {
  position:absolute;
  left:565px;
  top:91px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13081 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13082 {
  position:absolute;
  left:659px;
  top:91px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13083 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u13084 {
  position:absolute;
  left:753px;
  top:91px;
  width:97px;
  height:30px;
  text-align:center;
}
#u13085 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u13086 {
  position:absolute;
  left:0px;
  top:121px;
  width:121px;
  height:30px;
  text-align:center;
}
#u13087 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u13088 {
  position:absolute;
  left:121px;
  top:121px;
  width:75px;
  height:30px;
  text-align:center;
}
#u13089 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13090 {
  position:absolute;
  left:196px;
  top:121px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13091 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u13092 {
  position:absolute;
  left:290px;
  top:121px;
  width:98px;
  height:30px;
  text-align:center;
}
#u13093 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13094 {
  position:absolute;
  left:388px;
  top:121px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13095 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u13096 {
  position:absolute;
  left:482px;
  top:121px;
  width:83px;
  height:30px;
  text-align:center;
}
#u13097 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13098 {
  position:absolute;
  left:565px;
  top:121px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13099 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u13100 {
  position:absolute;
  left:659px;
  top:121px;
  width:94px;
  height:30px;
  text-align:center;
}
#u13101 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u13102 {
  position:absolute;
  left:753px;
  top:121px;
  width:97px;
  height:30px;
  text-align:center;
}
#u13103 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13104 {
  position:absolute;
  left:1078px;
  top:654px;
  width:140px;
  height:40px;
}
#u13105 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13106 {
  position:absolute;
  left:1078px;
  top:264px;
  width:140px;
  height:40px;
}
#u13107 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13108 {
  position:absolute;
  left:33px;
  top:288px;
  width:61px;
  height:16px;
}
#u13109 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u13108_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u13110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13110 {
  position:absolute;
  left:204px;
  top:414px;
  width:850px;
  height:306px;
}
#u13111 {
  position:absolute;
  left:2px;
  top:145px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13112 {
  position:absolute;
  left:1019px;
  top:209px;
  width:16px;
  height:16px;
}
#u13113 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13114 {
  position:absolute;
  left:204px;
  top:388px;
  width:100px;
  height:28px;
}
#u13115 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13116 {
  position:absolute;
  left:304px;
  top:388px;
  width:100px;
  height:28px;
}
#u13117 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13118 {
  position:absolute;
  left:404px;
  top:388px;
  width:100px;
  height:28px;
}
#u13119 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13120 {
  position:absolute;
  left:504px;
  top:388px;
  width:100px;
  height:28px;
}
#u13121 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13122 {
  position:absolute;
  left:320px;
  top:205px;
  width:64px;
  height:20px;
}
#u13123 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u13124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13124 {
  position:absolute;
  left:256px;
  top:205px;
  width:64px;
  height:20px;
}
#u13125 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u13126 {
  position:absolute;
  left:112px;
  top:288px;
  width:61px;
  height:16px;
}
#u13127 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u13126_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u13128 {
  position:absolute;
  left:33px;
  top:314px;
  width:70px;
  height:16px;
}
#u13129 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u13128_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u13130 {
  position:absolute;
  left:113px;
  top:314px;
  width:75px;
  height:16px;
}
#u13131 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u13130_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u13132 {
  position:absolute;
  left:33px;
  top:349px;
  width:70px;
  height:16px;
}
#u13133 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u13132_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u13134 {
  position:absolute;
  left:113px;
  top:349px;
  width:70px;
  height:16px;
}
#u13135 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u13134_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u13136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13136 {
  position:absolute;
  left:226px;
  top:440px;
  width:85px;
  height:16px;
}
#u13137 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13138 {
  position:absolute;
  left:319px;
  top:440px;
  width:168px;
  height:21px;
}
#u13138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13138_input {
  font-family:'微软雅黑';
}
#u13139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13139 {
  position:absolute;
  left:520px;
  top:440px;
  width:99px;
  height:16px;
}
#u13140 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13141 {
  position:absolute;
  left:629px;
  top:440px;
  width:117px;
  height:21px;
}
#u13141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13141_input {
  font-family:'微软雅黑';
}
#u13142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13142 {
  position:absolute;
  left:226px;
  top:479px;
  width:85px;
  height:16px;
}
#u13143 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13144 {
  position:absolute;
  left:319px;
  top:477px;
  width:168px;
  height:21px;
}
#u13144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13144_input {
  font-family:'微软雅黑';
}
#u13145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13145 {
  position:absolute;
  left:520px;
  top:479px;
  width:99px;
  height:16px;
}
#u13146 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13147 {
  position:absolute;
  left:629px;
  top:479px;
  width:117px;
  height:21px;
}
#u13147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13147_input {
  font-family:'微软雅黑';
}
#u13148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13148 {
  position:absolute;
  left:226px;
  top:516px;
  width:85px;
  height:16px;
}
#u13149 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13150 {
  position:absolute;
  left:319px;
  top:516px;
  width:168px;
  height:21px;
}
#u13150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13150_input {
  font-family:'微软雅黑';
}
#u13151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13151 {
  position:absolute;
  left:520px;
  top:519px;
  width:99px;
  height:16px;
}
#u13152 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13153 {
  position:absolute;
  left:629px;
  top:514px;
  width:117px;
  height:21px;
}
#u13153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13153_input {
  font-family:'微软雅黑';
}
#u13154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13154 {
  position:absolute;
  left:226px;
  top:557px;
  width:65px;
  height:16px;
}
#u13155 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13156 {
  position:absolute;
  left:319px;
  top:557px;
  width:168px;
  height:21px;
}
#u13156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13156_input {
  font-family:'微软雅黑';
}
#u13157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13157 {
  position:absolute;
  left:520px;
  top:557px;
  width:79px;
  height:16px;
}
#u13158 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u13159 {
  position:absolute;
  left:629px;
  top:557px;
  width:117px;
  height:21px;
}
#u13159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13159_input {
  font-family:'微软雅黑';
}
#u13160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13160 {
  position:absolute;
  left:226px;
  top:596px;
  width:78px;
  height:16px;
}
#u13161 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u13162 {
  position:absolute;
  left:319px;
  top:594px;
  width:168px;
  height:21px;
}
#u13162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13162_input {
  font-family:'微软雅黑';
}
#u13163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13163 {
  position:absolute;
  left:520px;
  top:596px;
  width:92px;
  height:16px;
}
#u13164 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u13165 {
  position:absolute;
  left:629px;
  top:596px;
  width:117px;
  height:21px;
}
#u13165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13165_input {
  font-family:'微软雅黑';
}
#u13166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:309px;
}
#u13166 {
  position:absolute;
  left:801px;
  top:414px;
  width:1px;
  height:308px;
}
#u13167 {
  position:absolute;
  left:2px;
  top:146px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13168 {
  position:absolute;
  left:226px;
  top:639px;
  width:77px;
  height:16px;
}
#u13169 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u13170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13170 {
  position:absolute;
  left:520px;
  top:642px;
  width:91px;
  height:16px;
}
#u13171 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13172 {
  position:absolute;
  left:629px;
  top:639px;
  width:117px;
  height:21px;
}
#u13172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13172_input {
  font-family:'微软雅黑';
}
#u13173 {
  position:absolute;
  left:319px;
  top:639px;
  width:168px;
  height:21px;
}
#u13173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13173_input {
  font-family:'微软雅黑';
}
#u13174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13174 {
  position:absolute;
  left:1078px;
  top:325px;
  width:140px;
  height:40px;
}
#u13175 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:46px;
  background:inherit;
  background-color:rgba(41, 128, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13176 {
  position:absolute;
  left:801px;
  top:414px;
  width:253px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13177 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u13178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13178 {
  position:absolute;
  left:1078px;
  top:388px;
  width:140px;
  height:40px;
}
#u13179 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13180 {
  position:absolute;
  left:801px;
  top:460px;
  width:258px;
  height:265px;
}
#u13181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u13181 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  text-align:center;
}
#u13182 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u13183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u13183 {
  position:absolute;
  left:63px;
  top:0px;
  width:63px;
  height:30px;
  text-align:center;
}
#u13184 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u13185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u13185 {
  position:absolute;
  left:126px;
  top:0px;
  width:63px;
  height:30px;
  text-align:center;
}
#u13186 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u13187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u13187 {
  position:absolute;
  left:189px;
  top:0px;
  width:64px;
  height:30px;
  text-align:center;
}
#u13188 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u13189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u13189 {
  position:absolute;
  left:0px;
  top:30px;
  width:63px;
  height:30px;
  text-align:center;
}
#u13190 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u13191 {
  position:absolute;
  left:63px;
  top:30px;
  width:63px;
  height:30px;
  text-align:center;
}
#u13192 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u13193 {
  position:absolute;
  left:126px;
  top:30px;
  width:63px;
  height:30px;
  text-align:center;
}
#u13194 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u13195 {
  position:absolute;
  left:189px;
  top:30px;
  width:64px;
  height:30px;
  text-align:center;
}
#u13196 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13197 {
  position:absolute;
  left:0px;
  top:60px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13198 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13199 {
  position:absolute;
  left:63px;
  top:60px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13200 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13201 {
  position:absolute;
  left:126px;
  top:60px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13202 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u13203 {
  position:absolute;
  left:189px;
  top:60px;
  width:64px;
  height:25px;
  text-align:center;
}
#u13204 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13205 {
  position:absolute;
  left:0px;
  top:85px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13206 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13207 {
  position:absolute;
  left:63px;
  top:85px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13208 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13209 {
  position:absolute;
  left:126px;
  top:85px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13210 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u13211 {
  position:absolute;
  left:189px;
  top:85px;
  width:64px;
  height:25px;
  text-align:center;
}
#u13212 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13213 {
  position:absolute;
  left:0px;
  top:110px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13214 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13215 {
  position:absolute;
  left:63px;
  top:110px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13216 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13217 {
  position:absolute;
  left:126px;
  top:110px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13218 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u13219 {
  position:absolute;
  left:189px;
  top:110px;
  width:64px;
  height:25px;
  text-align:center;
}
#u13220 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13221 {
  position:absolute;
  left:0px;
  top:135px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13222 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13223 {
  position:absolute;
  left:63px;
  top:135px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13224 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13225 {
  position:absolute;
  left:126px;
  top:135px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13226 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u13227 {
  position:absolute;
  left:189px;
  top:135px;
  width:64px;
  height:25px;
  text-align:center;
}
#u13228 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13229 {
  position:absolute;
  left:0px;
  top:160px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13230 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13231 {
  position:absolute;
  left:63px;
  top:160px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13232 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13233 {
  position:absolute;
  left:126px;
  top:160px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13234 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u13235 {
  position:absolute;
  left:189px;
  top:160px;
  width:64px;
  height:25px;
  text-align:center;
}
#u13236 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13237 {
  position:absolute;
  left:0px;
  top:185px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13238 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13239 {
  position:absolute;
  left:63px;
  top:185px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13240 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13241 {
  position:absolute;
  left:126px;
  top:185px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13242 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u13243 {
  position:absolute;
  left:189px;
  top:185px;
  width:64px;
  height:25px;
  text-align:center;
}
#u13244 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13245 {
  position:absolute;
  left:0px;
  top:210px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13246 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13247 {
  position:absolute;
  left:63px;
  top:210px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13248 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13249 {
  position:absolute;
  left:126px;
  top:210px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13250 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u13251 {
  position:absolute;
  left:189px;
  top:210px;
  width:64px;
  height:25px;
  text-align:center;
}
#u13252 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13253 {
  position:absolute;
  left:0px;
  top:235px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13254 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13255 {
  position:absolute;
  left:63px;
  top:235px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13256 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u13257 {
  position:absolute;
  left:126px;
  top:235px;
  width:63px;
  height:25px;
  text-align:center;
}
#u13258 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u13259 {
  position:absolute;
  left:189px;
  top:235px;
  width:64px;
  height:25px;
  text-align:center;
}
#u13260 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
}
#u13261 {
  position:absolute;
  left:756px;
  top:534px;
  width:45px;
  height:44px;
}
#u13262 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13263 {
  position:absolute;
  left:812px;
  top:498px;
  width:100px;
  height:16px;
}
#u13264 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13263_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u13265 {
  position:absolute;
  left:211px;
  top:276px;
  width:100px;
  height:16px;
}
#u13266 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13265_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u13267 {
  position:absolute;
  left:452px;
  top:682px;
  width:100px;
  height:25px;
}
#u13267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13267_input {
  font-family:'微软雅黑';
}
#u13268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13268 {
  position:absolute;
  left:1078px;
  top:447px;
  width:140px;
  height:40px;
}
#u13269 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
