body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-288px;
  width:544px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:464px;
}
#u15615 {
  position:absolute;
  left:288px;
  top:188px;
  width:544px;
  height:464px;
}
#u15616 {
  position:absolute;
  left:2px;
  top:224px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15617 {
  position:absolute;
  left:648px;
  top:601px;
  width:78px;
  height:26px;
}
#u15618 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u15619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15619 {
  position:absolute;
  left:737px;
  top:601px;
  width:78px;
  height:26px;
}
#u15620 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u15621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:15px;
}
#u15621 {
  position:absolute;
  left:313px;
  top:195px;
  width:218px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15622 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u15623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15623 {
  position:absolute;
  left:305px;
  top:220px;
  width:367px;
  height:247px;
}
#u15624 {
  position:absolute;
  left:2px;
  top:116px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15625 {
  position:absolute;
  left:305px;
  top:220px;
  width:515px;
  height:327px;
}
#u15626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u15626 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
  text-align:center;
}
#u15627 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u15628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u15628 {
  position:absolute;
  left:42px;
  top:0px;
  width:78px;
  height:36px;
  text-align:center;
}
#u15629 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u15630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u15630 {
  position:absolute;
  left:120px;
  top:0px;
  width:86px;
  height:36px;
  text-align:center;
}
#u15631 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u15632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:36px;
}
#u15632 {
  position:absolute;
  left:206px;
  top:0px;
  width:208px;
  height:36px;
  text-align:center;
}
#u15633 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u15634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u15634 {
  position:absolute;
  left:414px;
  top:0px;
  width:96px;
  height:36px;
  text-align:center;
}
#u15635 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u15636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:44px;
}
#u15636 {
  position:absolute;
  left:0px;
  top:36px;
  width:42px;
  height:44px;
  text-align:center;
}
#u15637 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
}
#u15638 {
  position:absolute;
  left:42px;
  top:36px;
  width:78px;
  height:44px;
  text-align:center;
}
#u15639 {
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u15640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:44px;
}
#u15640 {
  position:absolute;
  left:120px;
  top:36px;
  width:86px;
  height:44px;
  text-align:center;
}
#u15641 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u15642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u15642 {
  position:absolute;
  left:206px;
  top:36px;
  width:208px;
  height:44px;
  text-align:center;
}
#u15643 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u15644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:44px;
}
#u15644 {
  position:absolute;
  left:414px;
  top:36px;
  width:96px;
  height:44px;
  text-align:center;
}
#u15645 {
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u15646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u15646 {
  position:absolute;
  left:0px;
  top:80px;
  width:42px;
  height:30px;
  text-align:center;
}
#u15647 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u15648 {
  position:absolute;
  left:42px;
  top:80px;
  width:78px;
  height:30px;
  text-align:center;
}
#u15649 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u15650 {
  position:absolute;
  left:120px;
  top:80px;
  width:86px;
  height:30px;
  text-align:center;
}
#u15651 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u15652 {
  position:absolute;
  left:206px;
  top:80px;
  width:208px;
  height:30px;
  text-align:center;
}
#u15653 {
  position:absolute;
  left:2px;
  top:7px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u15654 {
  position:absolute;
  left:414px;
  top:80px;
  width:96px;
  height:30px;
  text-align:center;
}
#u15655 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u15656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u15656 {
  position:absolute;
  left:0px;
  top:110px;
  width:42px;
  height:30px;
  text-align:center;
}
#u15657 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u15658 {
  position:absolute;
  left:42px;
  top:110px;
  width:78px;
  height:30px;
  text-align:center;
}
#u15659 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u15660 {
  position:absolute;
  left:120px;
  top:110px;
  width:86px;
  height:30px;
  text-align:center;
}
#u15661 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u15662 {
  position:absolute;
  left:206px;
  top:110px;
  width:208px;
  height:30px;
  text-align:center;
}
#u15663 {
  position:absolute;
  left:2px;
  top:7px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u15664 {
  position:absolute;
  left:414px;
  top:110px;
  width:96px;
  height:30px;
  text-align:center;
}
#u15665 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u15666 {
  position:absolute;
  left:0px;
  top:140px;
  width:42px;
  height:30px;
  text-align:center;
}
#u15667 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u15668 {
  position:absolute;
  left:42px;
  top:140px;
  width:78px;
  height:30px;
  text-align:center;
}
#u15669 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u15670 {
  position:absolute;
  left:120px;
  top:140px;
  width:86px;
  height:30px;
  text-align:center;
}
#u15671 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u15672 {
  position:absolute;
  left:206px;
  top:140px;
  width:208px;
  height:30px;
  text-align:center;
}
#u15673 {
  position:absolute;
  left:2px;
  top:7px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u15674 {
  position:absolute;
  left:414px;
  top:140px;
  width:96px;
  height:30px;
  text-align:center;
}
#u15675 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u15676 {
  position:absolute;
  left:0px;
  top:170px;
  width:42px;
  height:30px;
  text-align:center;
}
#u15677 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u15678 {
  position:absolute;
  left:42px;
  top:170px;
  width:78px;
  height:30px;
  text-align:center;
}
#u15679 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u15680 {
  position:absolute;
  left:120px;
  top:170px;
  width:86px;
  height:30px;
  text-align:center;
}
#u15681 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u15682 {
  position:absolute;
  left:206px;
  top:170px;
  width:208px;
  height:30px;
  text-align:center;
}
#u15683 {
  position:absolute;
  left:2px;
  top:7px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u15684 {
  position:absolute;
  left:414px;
  top:170px;
  width:96px;
  height:30px;
  text-align:center;
}
#u15685 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u15686 {
  position:absolute;
  left:0px;
  top:200px;
  width:42px;
  height:30px;
  text-align:center;
}
#u15687 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u15688 {
  position:absolute;
  left:42px;
  top:200px;
  width:78px;
  height:30px;
  text-align:center;
}
#u15689 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u15690 {
  position:absolute;
  left:120px;
  top:200px;
  width:86px;
  height:30px;
  text-align:center;
}
#u15691 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u15692 {
  position:absolute;
  left:206px;
  top:200px;
  width:208px;
  height:30px;
  text-align:center;
}
#u15693 {
  position:absolute;
  left:2px;
  top:7px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u15694 {
  position:absolute;
  left:414px;
  top:200px;
  width:96px;
  height:30px;
  text-align:center;
}
#u15695 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u15696 {
  position:absolute;
  left:0px;
  top:230px;
  width:42px;
  height:23px;
  text-align:center;
}
#u15697 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u15698 {
  position:absolute;
  left:42px;
  top:230px;
  width:78px;
  height:23px;
  text-align:center;
}
#u15699 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
}
#u15700 {
  position:absolute;
  left:120px;
  top:230px;
  width:86px;
  height:23px;
  text-align:center;
}
#u15701 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:23px;
}
#u15702 {
  position:absolute;
  left:206px;
  top:230px;
  width:208px;
  height:23px;
  text-align:center;
}
#u15703 {
  position:absolute;
  left:2px;
  top:4px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u15704 {
  position:absolute;
  left:414px;
  top:230px;
  width:96px;
  height:23px;
  text-align:center;
}
#u15705 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u15706 {
  position:absolute;
  left:0px;
  top:253px;
  width:42px;
  height:23px;
  text-align:center;
}
#u15707 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u15708 {
  position:absolute;
  left:42px;
  top:253px;
  width:78px;
  height:23px;
  text-align:center;
}
#u15709 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
}
#u15710 {
  position:absolute;
  left:120px;
  top:253px;
  width:86px;
  height:23px;
  text-align:center;
}
#u15711 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:23px;
}
#u15712 {
  position:absolute;
  left:206px;
  top:253px;
  width:208px;
  height:23px;
  text-align:center;
}
#u15713 {
  position:absolute;
  left:2px;
  top:4px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u15714 {
  position:absolute;
  left:414px;
  top:253px;
  width:96px;
  height:23px;
  text-align:center;
}
#u15715 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u15716 {
  position:absolute;
  left:0px;
  top:276px;
  width:42px;
  height:23px;
  text-align:center;
}
#u15717 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u15718 {
  position:absolute;
  left:42px;
  top:276px;
  width:78px;
  height:23px;
  text-align:center;
}
#u15719 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
}
#u15720 {
  position:absolute;
  left:120px;
  top:276px;
  width:86px;
  height:23px;
  text-align:center;
}
#u15721 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:23px;
}
#u15722 {
  position:absolute;
  left:206px;
  top:276px;
  width:208px;
  height:23px;
  text-align:center;
}
#u15723 {
  position:absolute;
  left:2px;
  top:4px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u15724 {
  position:absolute;
  left:414px;
  top:276px;
  width:96px;
  height:23px;
  text-align:center;
}
#u15725 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u15726 {
  position:absolute;
  left:0px;
  top:299px;
  width:42px;
  height:23px;
  text-align:center;
}
#u15727 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u15728 {
  position:absolute;
  left:42px;
  top:299px;
  width:78px;
  height:23px;
  text-align:center;
}
#u15729 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
}
#u15730 {
  position:absolute;
  left:120px;
  top:299px;
  width:86px;
  height:23px;
  text-align:center;
}
#u15731 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:23px;
}
#u15732 {
  position:absolute;
  left:206px;
  top:299px;
  width:208px;
  height:23px;
  text-align:center;
}
#u15733 {
  position:absolute;
  left:2px;
  top:4px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u15734 {
  position:absolute;
  left:414px;
  top:299px;
  width:96px;
  height:23px;
  text-align:center;
}
#u15735 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15736 {
  position:absolute;
  left:310px;
  top:272px;
  width:38px;
  height:16px;
}
#u15737 {
  position:absolute;
  left:16px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u15736_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u15738 {
  position:absolute;
  left:305px;
  top:545px;
  width:48px;
  height:25px;
}
#u15738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u15738_input {
  font-family:'微软雅黑';
}
#u15739 {
  position:absolute;
  left:363px;
  top:545px;
  width:48px;
  height:25px;
}
#u15739_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u15739_input {
  font-family:'微软雅黑';
}
#u15740 {
  position:absolute;
  left:421px;
  top:545px;
  width:48px;
  height:25px;
}
#u15740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u15740_input {
  font-family:'微软雅黑';
}
