body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:489px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:405px;
}
#u7718 {
  position:absolute;
  left:50px;
  top:51px;
  width:489px;
  height:405px;
}
#u7719 {
  position:absolute;
  left:2px;
  top:194px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:15px;
}
#u7720 {
  position:absolute;
  left:71px;
  top:66px;
  width:183px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7721 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u7722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7722 {
  position:absolute;
  left:71px;
  top:95px;
  width:61px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7723 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7724 {
  position:absolute;
  left:119px;
  top:129px;
  width:393px;
  height:19px;
}
#u7724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7724_input {
  font-family:'微软雅黑';
}
#u7725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7725 {
  position:absolute;
  left:71px;
  top:127px;
  width:43px;
  height:16px;
}
#u7726 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7727 {
  position:absolute;
  left:71px;
  top:167px;
  width:89px;
  height:16px;
}
#u7728 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7729 {
  position:absolute;
  left:173px;
  top:170px;
  width:339px;
  height:122px;
}
#u7729_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:122px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7729_input {
  font-family:'微软雅黑';
}
#u7730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7730 {
  position:absolute;
  left:71px;
  top:302px;
  width:103px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7731 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7732 {
  position:absolute;
  left:174px;
  top:330px;
  width:338px;
  height:22px;
}
#u7732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7732_input {
  font-family:'微软雅黑';
}
#u7732_input:disabled {
  color:grayText;
}
#u7733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7733 {
  position:absolute;
  left:73px;
  top:329px;
  width:75px;
  height:16px;
}
#u7734 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u7735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7735 {
  position:absolute;
  left:369px;
  top:415px;
  width:72px;
  height:23px;
}
#u7736 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u7737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7737 {
  position:absolute;
  left:449px;
  top:415px;
  width:72px;
  height:23px;
}
#u7738 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u7739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7739 {
  position:absolute;
  left:73px;
  top:375px;
  width:47px;
  height:16px;
}
#u7740 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u7741 {
  position:absolute;
  left:123px;
  top:375px;
  width:108px;
  height:19px;
}
#u7741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7741_input {
  font-family:'微软雅黑';
}
#u7742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7742 {
  position:absolute;
  left:264px;
  top:375px;
  width:61px;
  height:16px;
}
#u7743 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7744 {
  position:absolute;
  left:335px;
  top:375px;
  width:129px;
  height:19px;
}
#u7744_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7744_input {
  font-family:'微软雅黑';
}
